services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Configure OpenMeteoClient with the API base URL from the environment
    App\Service\External\OpenMeteo\OpenMeteoClient:
        arguments:
            $apiBaseUrl: '%env(OPEN_METEO_API_BASE_URL)%'
